*{
    text-align: center;
}
h1{
    color: #5B99C2; background-color: #F9DBBA; font-style: oblique;
}
h2{
    color: #1A4870; background-color: #F9DBBA; font-style: oblique;
}
*{
    background-color: #1F316F;
}